################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bingo-api/.vs
/bingo-api/bin/Debug/net8.0
/bingo-api/obj
